.nod-about-page-first-section {
  margin-top: 180px;
  padding: 50px 0px;
}
.nod-about-heading {
  color: #0c629f;
  text-align: center;
  font-weight: bold;
}
.nod-about-text {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
  color: #717171;
  font-size: small;
}
